h1 {
  color: #666;
}
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  color: #666;
}
h1 {
  font-weight: 100;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
.title-white {
  color: #eee;
}
.p-lg {
  font-size: 1.3em;
  padding: 25px 0;
  font-weight: 300;
}
.subtitle {
  margin: 45px 0;
}
.btn-lg {
  margin-bottom: 10px;
}
.btn-neutro {
  background: none;
  border: none;
  box-shadow: none;
  color: #666;
  padding-left: 0;
}
.btn-rounded {
  border-radius: 50%;
  padding: 3px 8px;
  margin-right: 3px;
  color: #fff;
  border: none;
}
.btn-rounded:hover {
  color: #ddd;
}
.btn-default.btn-rounded {
  color: #666;
}
.btn-rlg {
  padding: 12px 15.5px;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.3);
}
.btn-dark {
  background: #1c282e;
  color: #fff;
}
.btn-blue {
  background: #1772fb;
}
.btn-pink {
  background: #ff4081;
}
.btn-top {
  position: fixed;
  bottom: 5px;
  right: 10px;
}
.header-top {
  text-align: center;
  background: #2f444e;
  padding: 26px 0;
}
.navbar-material {
  border-radius: 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  z-index: 999;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #bbbbbb;
}
.navbar {
  min-height: 60px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 19px;
  }
}
.navbar-dark {
  background: #1c282e;
}
.navbar-dark .navbar-nav > li > a {
  color: #ccc;
}
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
  background: none;
}
.navbar-dark .navbar-nav > .active > a:before,
.navbar-dark .navbar-nav > .active > a:hover:before,
.navbar-dark .navbar-nav > .active > a:focus:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #18FFFF;
}
.navbar-dark .navbar-nav > .open > a,
.navbar-dark .navbar-nav > .open > a:hover,
.navbar-dark .navbar-nav > .open > a:focus {
  background: none;
}
.navbar-dark .navbar-collapse,
.navbar-dark .navbar-form {
  border-color: #1c282e;
}
.main-header {
  background: #f0f0f0;
  margin-bottom: 40px;
  padding: 15px 0;
  text-align: center;
}
.ws {
  background: #1772fb;
  padding: 0;
  position: relative;
  z-index: 1;
}
.ws h1,
.ws p {
  color: #fff;
}
.ws h1 strong,
.ws p strong {
  font-weight: 300;
}
#large-header {
  padding: 60px 0 50px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
#conector {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section {
  padding-bottom: 20px;
}
.section-bg {
  padding: 50px 0 40px;
  background-size: cover;
  background-position: center;
  color: #eee;
}
.section-bg1 {
  background-image: url(../img/section-bg1.jpg);
}
.article-item {
  margin-bottom: 30px;
  text-align: justify;
}
.service .service-icon {
  color: #1772fb;
}
.footer-top {
  background: #1c282e;
  padding: 16px 0;
}
.footer-content {
  background: #26363e;
  padding: 40px 0;
}
.footer-content .footer-social a {
  color: #eee;
  margin: 0 7px;
}
.footer-content .copyright {
  margin-top: 15px;
}
@media (max-width: 767px) {
  .section-bg {
    text-align: center;
  }
  .section-bg img {
    text-align: center;
    display: inline-block;
  }
}
.section-posts {
  padding-bottom: 50px;
}
